*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sect{
  position: absolute;
  width: 90vw;
  height: 80vh;
  top: 1vh;
  left: 5vw;
  background: rgba(20, 20, 200, 0.3);
  border-radius: 40px;
  border: 5px solid rgba(20, 20, 20, 0.3);
}

.sect{
    display: flex;
    justify-content: center;
}

.inp{
    width: 80vw;
    max-width: 700px;
    height: 20vh;
    max-height: 50px;
}

form .form-control{
    width: 80%;
    height: 100%;
    border-radius: 15px;
    font-size: 25px;
    weight: 200;
    background: rgba(20, 20, 20, 0.4);
    color: rgb(200, 200, 200);
}

.btn{
    position: relative;
    bottom: 0;
    width: 18%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid rgba(20, 20, 20, 0.3);
    font-size: 20px;
}

.interface{
    display: flex;
    justify-content: center;
    position: relative;
    top: 2vh;
    width: 100%;
    height: 80%;
    background: rgba(50, 50, 50, 0.4);
    border-radius: 40px;
    border: 3px solid rgba(20, 20, 20, 0.4);
}

.container{
    top: 0;
    width: 50%;
    position: relative;
}

.image{
    top: 15%;
    position: relative;
    width: calc(min(40vh, 40vw) * 1.5);
    height: min(40vh, 40vw);
    border-radius: 20px;
    border: 2px solid rgba(250, 250, 250, 0.4);
}

.downloadbtn{
    position: absolute;
    bottom: 0;
    width: calc(min(12vh, 12vw) * 3);
    height: min(12vh, 12vw);
    border-radius: 30px;
    border: 4px solid rgba(20, 20, 20, 0.3);
    font-size: 30px;
}

.formats{
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    padding: 12px;
}
.formats button{
    height: 100%;
    padding: 12px;
    font-size: 1.2em;
    border: none;
    outline: none;
    width: 49%;
    color: white;
    transition: 0.3s;
}

.formats button.active{
    background: red;
}