*{
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: calc(12vh / 3);
}

section{
    padding: 1px 10px;
    border-radius: min(2vw, 2vh);
    max-width: 700vw;
    border: calc((1vw + 1vh) / 4) solid black !important;
}

.title{
    text-align: center;
    position: relative;
}

.title::before{
    content: '';
    position: absolute;
    width: 2%;
    height: 100%;
    background: linear-gradient(180deg, red, orange);
    border-radius: 5px;
    left: 1%;
}

.title::after{
    content: '';
    position: absolute;
    width: 2%;
    height: 100%;
    background: linear-gradient(180deg, red, orange);
    border-radius: 5px;
    right: 1%;
}

.sect form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}

.user-details input{
    height: 5vh;
    width: 40vw;
}

form .user-details .form-control{
    border-radius: 10px;
}

form input{
    font-size: calc(9vh / 3);
}

.btn{
    position: relative;
    width: calc(30%);
    height: 7vh;
    left: 35%;
    border-radius: 3vh;
    background: linear-gradient(180deg, rgb(50, 250, 50), rgb(50, 150, 50));
    border-color: rgb(100, 100, 250);
    color: white;
}